# MySQLサーバーへの設定
[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= ""

# binlogを出力しない
disable-log-bin

symbolic-links=0

# add confing to investigate
# transaction-isolation = READ-COMMITTED
#thread_cache_size = 100
#innodb_file_per_table = ON
innodb_buffer_pool_size = 2G
#innodb_log_file_size = 125M
# innodb_log_buffer_size = 750M
#innodb_max_dirty_pages_pct=30
#innodb_io_capacity_max=1000
#innodb_data_file_path=ibdata1:1G:autoextend
# 読み込むファイルが大きいため、サイズを大きくします
max_allowed_packet=1GB


# 文字コードの設定
character-set-server=utf8mb4

# タイムゾーンの設定
default-time-zone = SYSTEM

# デフォルト認証プラグインの設定
default-authentication-plugin = mysql_native_password

# エラーログの設定
log-error = /var/log/mysql/mysql-error.log

# スロークエリログの設定（開発時orDBチューニング時のみ有効化）
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0

# 実行ログの設定（ものすごい量になりそうなので、開発時の有用時のみ使用可？）
# general_log = 1
# general_log_file = /var/log/mysql/mysql-query.log

# ネットワーク経由のコネクションタイムアウト設定
net_read_timeout = 300

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default-character-set=utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default-character-set=utf8mb4
